<a href="https://colab.research.google.com/github/afridarahman38/DataScientistAssignment/blob/main/Part2SolvedAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**importing sheet1 excel file**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Sheet1.xlsx to Sheet1.xlsx

**2 no solution of Assignment Part 2**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('/content/Sheet1.xlsx', sheet_name='Sheet1') #read excel file

df.to_csv('/content/Sheet1.csv', index=False) #excel to csv

**3 no solution of Assignment Part 2**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Sheet1.csv') # load csv file

In [ ]:
print(df)

         ID Customer Name    Division Gender MaritalStatus  Age  Income
0   BU79786     Christine       Dhaka      F       Married   37   56274
1   QZ44356         Susan    Rajshahi      F        Single   50       0
2   AI49188      Margaret      Khulna      F       Married   29   48767
3   WW63253         David    Barishal      M       Married   41       0
4   HB64268         Peter  Mymensingh      M        Single   24   43836
5   OC83172        Judith      Sylhet      F       Married   43   62902
6   XZ87318      Jennifer      Khulna      F       Married   25   55350
7   CF85061       Michael    Barishal      M        Single   44       0
8   DY87989          John  Mymensingh      M      Divorced   27   14072
9   BQ94931          Mary      Sylhet      F       Married   32   28812
10  SX51350       Stephen     Rangpur      M        Single   37       0
11  VQ65197     Elizabeth  Chattogram      F       Married   34       0
12  DP39365          Mark       Dhaka      M       Married   45   77026
13  SJ95423          Paul    Rajshahi      M       Married   46   99845
14  IL66569        Robert      Khulna      M        Single   38   83689
15  BW63560      Patricia    Barishal      F       Married   47   24599
16  FV94802   Christopher  Mymensingh      M       Married   48   25049
17  OE15005         Kevin      Sylhet      M       Married   40   28855
18  WC83389       Anthony     Rangpur      M       Married   35   51148
19  FL50705         Linda  Chattogram      F       Married   43   66140
20  ZK25313       Richard       Dhaka      M        Single   40   57749
21  SV62436       Barbara    Rajshahi      F      Divorced   49   13789
22  YH23384           Ian  Mymensingh      M      Divorced   40   14072
23  TZ98966       Lynette      Sylhet      F        Single   39       0
24  HM55802         Robyn     Rangpur      F       Married   42   17870
25  FS42516         Craig  Chattogram      M       Married   47   97541
26  US89481          Anne       Dhaka      F        Single   46       0
27  HO30839         Karen    Rajshahi      F       Married   36   10511
28  GE62437         Helen      Khulna      F        Single   39   86584
29  EJ77678         Diane     Rangpur      F       Married   40   75690
30  SV85652       William  Chattogram      M       Married   28   23158
31  UL64533       Gregory       Dhaka      M       Married   47   65999
32  PF41800         Wayne    Rajshahi      M       Married   34       0
33  AO98601        Andrew      Khulna      M       Married   28   54500
34  SK67821        Sandra    Barishal      F       Married   50   37260
35  YV55495         Wendy  Mymensingh      F       Married   42   68987
36  KY38074         Grant      Sylhet      M       Married   49   42305
37  DM79012         Janet     Rangpur      F       Married   38   65706
38  CM61827         James  Chattogram      M        Single   32       0
39  WC35801         Bruce      Khulna      M      Divorced   44   53243
40  QG25316       Heather     Rangpur      F       Married   40       0
41  MB98372        Pamela  Chattogram      F        Single   49   50071
42  IL19217         Carol       Dhaka      F       Married   29   60021
43  SR38658         Brian    Rajshahi      M       Married   31   43244
44  DH41343        Steven  Mymensingh      M       Married   50   92834
45  HG65722        Janice      Sylhet      F       Married   33   10105
46  BU27331        Philip     Rangpur      M        Single   39       0
47  XM45289         Julie  Chattogram      F        Single   25   23218
48  KP34198       Suzanne      Khulna      F       Married   47       0
49  WE95729      Lorraine      Sylhet      F       Married   31       0

**4 no solution of Assignment Part 2**

In [ ]:
df = df.drop('ID', axis=1) #get rid of the column ID

print(df)

   Customer Name    Division Gender MaritalStatus  Age  Income
0      Christine       Dhaka      F       Married   37   56274
1          Susan    Rajshahi      F        Single   50       0
2       Margaret      Khulna      F       Married   29   48767
3          David    Barishal      M       Married   41       0
4          Peter  Mymensingh      M        Single   24   43836
5         Judith      Sylhet      F       Married   43   62902
6       Jennifer      Khulna      F       Married   25   55350
7        Michael    Barishal      M        Single   44       0
8           John  Mymensingh      M      Divorced   27   14072
9           Mary      Sylhet      F       Married   32   28812
10       Stephen     Rangpur      M        Single   37       0
11     Elizabeth  Chattogram      F       Married   34       0
12          Mark       Dhaka      M       Married   45   77026
13          Paul    Rajshahi      M       Married   46   99845
14        Robert      Khulna      M        Single   38   83689
15      Patricia    Barishal      F       Married   47   24599
16   Christopher  Mymensingh      M       Married   48   25049
17         Kevin      Sylhet      M       Married   40   28855
18       Anthony     Rangpur      M       Married   35   51148
19         Linda  Chattogram      F       Married   43   66140
20       Richard       Dhaka      M        Single   40   57749
21       Barbara    Rajshahi      F      Divorced   49   13789
22           Ian  Mymensingh      M      Divorced   40   14072
23       Lynette      Sylhet      F        Single   39       0
24         Robyn     Rangpur      F       Married   42   17870
25         Craig  Chattogram      M       Married   47   97541
26          Anne       Dhaka      F        Single   46       0
27         Karen    Rajshahi      F       Married   36   10511
28         Helen      Khulna      F        Single   39   86584
29         Diane     Rangpur      F       Married   40   75690
30       William  Chattogram      M       Married   28   23158
31       Gregory       Dhaka      M       Married   47   65999
32         Wayne    Rajshahi      M       Married   34       0
33        Andrew      Khulna      M       Married   28   54500
34        Sandra    Barishal      F       Married   50   37260
35         Wendy  Mymensingh      F       Married   42   68987
36         Grant      Sylhet      M       Married   49   42305
37         Janet     Rangpur      F       Married   38   65706
38         James  Chattogram      M        Single   32       0
39         Bruce      Khulna      M      Divorced   44   53243
40       Heather     Rangpur      F       Married   40       0
41        Pamela  Chattogram      F        Single   49   50071
42         Carol       Dhaka      F       Married   29   60021
43         Brian    Rajshahi      M       Married   31   43244
44        Steven  Mymensingh      M       Married   50   92834
45        Janice      Sylhet      F       Married   33   10105
46        Philip     Rangpur      M        Single   39       0
47         Julie  Chattogram      F        Single   25   23218
48       Suzanne      Khulna      F       Married   47       0
49      Lorraine      Sylhet      F       Married   31       0

**5 no solution of Assignment Part 2**

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder() #creating instance in LabelEncoder

df['Division'] = encoder.fit_transform(df['Division']) #encode the column

print(df)

   Customer Name  Division Gender MaritalStatus  Age  Income
0      Christine         2      F       Married   37   56274
1          Susan         5      F        Single   50       0
2       Margaret         3      F       Married   29   48767
3          David         0      M       Married   41       0
4          Peter         4      M        Single   24   43836
5         Judith         7      F       Married   43   62902
6       Jennifer         3      F       Married   25   55350
7        Michael         0      M        Single   44       0
8           John         4      M      Divorced   27   14072
9           Mary         7      F       Married   32   28812
10       Stephen         6      M        Single   37       0
11     Elizabeth         1      F       Married   34       0
12          Mark         2      M       Married   45   77026
13          Paul         5      M       Married   46   99845
14        Robert         3      M        Single   38   83689
15      Patricia         0      F       Married   47   24599
16   Christopher         4      M       Married   48   25049
17         Kevin         7      M       Married   40   28855
18       Anthony         6      M       Married   35   51148
19         Linda         1      F       Married   43   66140
20       Richard         2      M        Single   40   57749
21       Barbara         5      F      Divorced   49   13789
22           Ian         4      M      Divorced   40   14072
23       Lynette         7      F        Single   39       0
24         Robyn         6      F       Married   42   17870
25         Craig         1      M       Married   47   97541
26          Anne         2      F        Single   46       0
27         Karen         5      F       Married   36   10511
28         Helen         3      F        Single   39   86584
29         Diane         6      F       Married   40   75690
30       William         1      M       Married   28   23158
31       Gregory         2      M       Married   47   65999
32         Wayne         5      M       Married   34       0
33        Andrew         3      M       Married   28   54500
34        Sandra         0      F       Married   50   37260
35         Wendy         4      F       Married   42   68987
36         Grant         7      M       Married   49   42305
37         Janet         6      F       Married   38   65706
38         James         1      M        Single   32       0
39         Bruce         3      M      Divorced   44   53243
40       Heather         6      F       Married   40       0
41        Pamela         1      F        Single   49   50071
42         Carol         2      F       Married   29   60021
43         Brian         5      M       Married   31   43244
44        Steven         4      M       Married   50   92834
45        Janice         7      F       Married   33   10105
46        Philip         6      M        Single   39       0
47         Julie         1      F        Single   25   23218
48       Suzanne         3      F       Married   47       0
49      Lorraine         7      F       Married   31       0

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder() #creating instance in LabelEncoder

df['Gender'] = encoder.fit_transform(df['Gender']) #encode the column

print(df)

   Customer Name  Division  Gender MaritalStatus  Age  Income
0      Christine         2       0       Married   37   56274
1          Susan         5       0        Single   50       0
2       Margaret         3       0       Married   29   48767
3          David         0       1       Married   41       0
4          Peter         4       1        Single   24   43836
5         Judith         7       0       Married   43   62902
6       Jennifer         3       0       Married   25   55350
7        Michael         0       1        Single   44       0
8           John         4       1      Divorced   27   14072
9           Mary         7       0       Married   32   28812
10       Stephen         6       1        Single   37       0
11     Elizabeth         1       0       Married   34       0
12          Mark         2       1       Married   45   77026
13          Paul         5       1       Married   46   99845
14        Robert         3       1        Single   38   83689
15      Patricia         0       0       Married   47   24599
16   Christopher         4       1       Married   48   25049
17         Kevin         7       1       Married   40   28855
18       Anthony         6       1       Married   35   51148
19         Linda         1       0       Married   43   66140
20       Richard         2       1        Single   40   57749
21       Barbara         5       0      Divorced   49   13789
22           Ian         4       1      Divorced   40   14072
23       Lynette         7       0        Single   39       0
24         Robyn         6       0       Married   42   17870
25         Craig         1       1       Married   47   97541
26          Anne         2       0        Single   46       0
27         Karen         5       0       Married   36   10511
28         Helen         3       0        Single   39   86584
29         Diane         6       0       Married   40   75690
30       William         1       1       Married   28   23158
31       Gregory         2       1       Married   47   65999
32         Wayne         5       1       Married   34       0
33        Andrew         3       1       Married   28   54500
34        Sandra         0       0       Married   50   37260
35         Wendy         4       0       Married   42   68987
36         Grant         7       1       Married   49   42305
37         Janet         6       0       Married   38   65706
38         James         1       1        Single   32       0
39         Bruce         3       1      Divorced   44   53243
40       Heather         6       0       Married   40       0
41        Pamela         1       0        Single   49   50071
42         Carol         2       0       Married   29   60021
43         Brian         5       1       Married   31   43244
44        Steven         4       1       Married   50   92834
45        Janice         7       0       Married   33   10105
46        Philip         6       1        Single   39       0
47         Julie         1       0        Single   25   23218
48       Suzanne         3       0       Married   47       0
49      Lorraine         7       0       Married   31       0

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder() #creating instance in LabelEncoder

df['Division'] = encoder.fit_transform(df['Division']) #encode the column
df['Gender'] = encoder.fit_transform(df['Gender']) #encode the column

print(df)

   Customer Name  Division  Gender MaritalStatus  Age  Income
0      Christine         2       0       Married   37   56274
1          Susan         5       0        Single   50       0
2       Margaret         3       0       Married   29   48767
3          David         0       1       Married   41       0
4          Peter         4       1        Single   24   43836
5         Judith         7       0       Married   43   62902
6       Jennifer         3       0       Married   25   55350
7        Michael         0       1        Single   44       0
8           John         4       1      Divorced   27   14072
9           Mary         7       0       Married   32   28812
10       Stephen         6       1        Single   37       0
11     Elizabeth         1       0       Married   34       0
12          Mark         2       1       Married   45   77026
13          Paul         5       1       Married   46   99845
14        Robert         3       1        Single   38   83689
15      Patricia         0       0       Married   47   24599
16   Christopher         4       1       Married   48   25049
17         Kevin         7       1       Married   40   28855
18       Anthony         6       1       Married   35   51148
19         Linda         1       0       Married   43   66140
20       Richard         2       1        Single   40   57749
21       Barbara         5       0      Divorced   49   13789
22           Ian         4       1      Divorced   40   14072
23       Lynette         7       0        Single   39       0
24         Robyn         6       0       Married   42   17870
25         Craig         1       1       Married   47   97541
26          Anne         2       0        Single   46       0
27         Karen         5       0       Married   36   10511
28         Helen         3       0        Single   39   86584
29         Diane         6       0       Married   40   75690
30       William         1       1       Married   28   23158
31       Gregory         2       1       Married   47   65999
32         Wayne         5       1       Married   34       0
33        Andrew         3       1       Married   28   54500
34        Sandra         0       0       Married   50   37260
35         Wendy         4       0       Married   42   68987
36         Grant         7       1       Married   49   42305
37         Janet         6       0       Married   38   65706
38         James         1       1        Single   32       0
39         Bruce         3       1      Divorced   44   53243
40       Heather         6       0       Married   40       0
41        Pamela         1       0        Single   49   50071
42         Carol         2       0       Married   29   60021
43         Brian         5       1       Married   31   43244
44        Steven         4       1       Married   50   92834
45        Janice         7       0       Married   33   10105
46        Philip         6       1        Single   39       0
47         Julie         1       0        Single   25   23218
48       Suzanne         3       0       Married   47       0
49      Lorraine         7       0       Married   31       0

**6 no solution of Assignment Part 2**

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans

df = pd.read_csv('/content/Sheet1.csv') #load dataset

print(df['Division'].unique()) #verify unique values

features = ['Division'] #selecting column

['Dhaka' 'Rajshahi' 'Khulna' 'Barishal' 'Mymensingh' 'Sylhet' 'Rangpur'
 'Chattogram']

In [ ]:
kmeans = KMeans(n_clusters=8)  # number of clusters
kmeans.fit(df[features])

cluster_labels = kmeans.labels #retrieve cluster labels to data point

df['Cluster_Labels'] = cluster_labels #add cluster labels to dataframe

ValueError: ignored

**7 no solution of Assignment Part 2**

In [ ]:
files.download('/content/Sheet1.csv') #for download